@import "../../../app/variables.module.scss";

.formContainer {
  padding: 48px;
  background-color: $Background;
  width: 502px;
  position: relative;
  color: $Black;
}

.form {
  display: flex;
  flex-flow: column;
  width: 350px;
  margin: 0 auto;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  padding: 30px 20px;

  & input,
  & button {
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;

    &:hover,
    &:focus {
      outline: none;
      border: none;
      background-color: #cfcfcf;
    }
  }

  & button {
    margin-top: 50px;

    &:hover,
    &:focus {
      background-color: #76a2ff;
    }
  }
}

.error {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  color: rgb(194, 6, 6);
}

.isEmpty {
  border: 2px solid rgb(194, 6, 6) !important;
}

.closeModal {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 16px;

  border: 1px solid $Background;

  & img {
    border: 1px solid $Background;
    border-radius: 50%;

    &:hover {
      border: 1px solid $Red-1;
      border-radius: 50%;
    }
  }
}
