@import "../../app/variables.module.scss";

.stagesContainer {
  padding: 80px;
  background-color: $White;

  & h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;

    margin-bottom: 64px;
  }

  & ul {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1279px) {
      justify-content: center;
      display: grid;
      grid-template-columns: 308px 308px;
      grid-column-gap: 40px;
      grid-row-gap: 16px;
    }

    & li {
      width: 276px;
      padding: 0 16px;
    }

    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 16px;

      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $Red-1;
      color: $White;

      font-size: 24px;
      font-weight: 700;
      line-height: 26.4px;
    }

    & p {
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;

      @media (max-width: 1279px) {
        font-size: 16px;
        line-height: 22.4px;
      }
    }
  }
}
