@import "../../app/variables.module.scss";

.hero {
  padding: 80px;
  background-image: url("../../public/Hero.png");
  background-size: cover;
  color: $White;
  text-align: start;
}

.textContainer {
  width: 600px;
  padding: 80px 0;

  & h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 48px;
    line-height: 61.6px;
  }

  & p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 64px;
    line-height: 25.2px;
  }
}

.btnContainer {
  width: 470px;
  display: flex;
  justify-content: space-between;
}
