@import "../../app/variables.module.scss";

.advantages {
  background-color: $Background;

  ul {
    display: flex;
    padding: 40px 80px;

    @media (max-width: 1279px) {
      padding: 80px 32px;
      display: grid;
      grid-template-columns: 308px 308px;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      justify-content: center;
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      padding: 60px 32px;
    }

    & li {
      background-color: $White;
      width: 276px;

      box-shadow: 0px 0px 10px 0px #4c46461a;
      padding: 16px;

      & h3 {
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 700;
        line-height: 19.8px;
      }

      & p {
        text-align: start;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        margin: 0;
      }

      .imgContainer {
        width: 56px;
        height: 56px;
        margin: 0 auto;
        margin-bottom: 16px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;

        background-color: $Red-1;
      }

      &:not(:last-child) {
        margin-right: 16px;

        @media (max-width: 767px) {
          margin-right: 0;
        }
      }

      @media (max-width: 767px) {
        width: calc(100% - 32px);
      }
    }
  }
}
