@import "../../app/variables.module.scss";

.logo {
  font-weight: 900;
  font-size: 40px;
  margin: 0;
  cursor: pointer;
  color: $Black;

  transition: $Color-anim;

  &:hover {
    color: $Red-1 !important;
  }
}
