@import "../../app/variables.module.scss";

.section {
  background-color: $Background;
}

.about {
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .textContainer {
    width: 600px;
    padding: 32px 0;
    text-align: start;

    & h3 {
      font-size: 48px;
      font-weight: 700;
      line-height: 52.8px;

      padding-bottom: 64px;
    }

    & p {
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;
    }

    .firstPart {
      margin-bottom: 20px;
    }

    .secondPart {
      margin-bottom: 64px;
    }

    .achievements {
      display: flex;

      & div {
        width: 288px;
        margin-bottom: 64px;

        & h4 {
          font-size: 24px;
          font-weight: 700;
          line-height: 26.4px;

          padding-bottom: 16px;
        }

        & p {
          font-size: 16px;
          font-weight: 400;
          line-height: 22.4px;
        }
      }

      & div:not(:last-child) {
        margin-right: 24px;
      }
    }

    .feedback {
      display: flex;
      align-items: center;

      & p {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        margin-right: 16px;
      }

      & a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;

        background-color: $Red-1;
        border-radius: 50%;

        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }
}
