@import "./variables.module.scss";

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

li:has(#navLink.active) {
  position: relative;

  &::after {
    position: absolute;
    width: 100%;
    content: " ";
    height: 2px;
    background-color: $Red-1;
    bottom: 0px;
    left: 0;
  }
}

button {
  font-family: inherit;
}

.blocked {
  overflow-y: hidden;
}

@import "../components/Forms/OrderForm/Selects.module.scss";
@import "../components/SwiperGallery/Swiper.module.scss";
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
