$Red-1: #b4202e;
$Red-2L: #df3e4d;
$Red-3: #9c1925;
$White: #ffffff;
$Background: rgb(246, 245, 245);
$Gray: #ababab;
$Black: #21272a;
$Error: #f80808;
$Gray-2: #545151;

:export {
  red1: $Red-1;
  red2: $Red-2L;
  red3: $Red-3;
  white1: $White;
  bg: $Background;
  gray1: $Gray;
  black1: $Black;
  err: $Error;
}
