$Red-1: #b4202e;
$Red-2L: #df3e4d;
$Red-3: #9c1925;
$White: #ffffff;
$Background: rgb(246, 245, 245);
$Gray: #ababab;
$Black: #21272a;
$Error: #f80808;
$Gray-2: #545151;

$BGC-anim: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$Color-anim: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$Border-anim: border 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$Transf-anim: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
