@import "../../../app/variables.module.scss";

.formContainer {
  flex-direction: column;
  padding: 48px;
  background-color: $Background;

  & h3 {
    font-size: 32px;
    color: $Red-1;
    font-weight: 700;
    line-height: 35.2px;
    margin-bottom: 48px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $Black;

  & label {
    & span {
      color: $Red-1;
    }
  }

  & input {
    display: block;
    width: 100%;
  }
}

.telContainer {
  width: 100%;
}
