@import "../../app/variables.module.scss";

.header {
  position: sticky;
  top: 0;
}

.upperHeader {
  text-align: start;
  padding: 24px 80px;
  position: relative;
  overflow: hidden;

  background-color: $White;
}

.logo {
  color: $Gray !important;
}
