@import "../../app/variables.module.scss";

.upperHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;

  background-color: $White;
}

.svgContainer {
  width: 32px;
  height: 32px;
  background-color: $Red-1;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.telContainer {
  display: flex;
  align-items: center;
}

.telLink {
  text-decoration: none;
  color: $Black;
  font-weight: 500;
  line-height: 16px;
}

.logo {
  font-weight: 900;
  font-size: 40px;
  margin: 0;
}
