@import "../../app/variables.module.scss";

.swiperContainer {
  padding: 80px;
  max-width: 900px;
  margin: 0 auto;

  @media (max-width: 1279px) {
    padding: 80px 32px;
  }
}

.desktopSwiper,
.tabletSwiper,
.mobileSwiper {
  padding: 24px 0;
}

.desktopSwiper {
  @media (max-width: 1279px) {
    display: none;
  }
}

.tabletSwiper {
  @media (min-width: 768px) and (max-width: 1279px) {
    display: block;
  }

  display: none;
}

.mobileSwiper {
  @media (min-width: 768px) {
    display: none;
  }
}

.swiperItem {
  height: 100%;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26.4px;
  margin-bottom: 16px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}

.swiperItem {
  padding: 0 64px !important  ;
  width: calc(100% - 128px) !important;

  @media (max-width: 1279px) {
    padding: 0 40px !important;
    width: calc(100% - 80px) !important;
  }
}
