@import "../../app/variables.module.scss";

.footer {
  color: $White;
  background-color: $Black;
}

.footerContainer {
  padding: 24px 80px;

  @media (max-width: 1279px) {
    padding: 24px 32px;
  }

  @media (max-width: 767px) {
    padding: 24px 16px;
  }

  text-align: center;

  & .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    @media (max-width: 1279px) {
      margin-bottom: 16px;
      align-items: flex-start;
    }

    @media (max-width: 767px) {
      display: block;
    }

    & p {
      font-size: 40px;
      font-weight: 900;
    }

    & nav {
      & ul {
        display: flex;

        @media (max-width: 1279px) {
          display: block;
        }

        @media (max-width: 767px) {
          display: grid;
          grid-template-columns: 134px 78px 72px;
          justify-items: start;
          grid-gap: 16px;

          margin-bottom: 48px;
        }

        & li {
          padding: 12px 8px;
          cursor: pointer;

          @media (min-width: 1280px) {
            &:not(:last-child) {
              margin-right: 16px;
            }
          }

          @media (max-width: 1279px) {
            padding: 0;

            &:not(:last-child) {
              margin-bottom: 8px;
            }
          }

          @media (max-width: 767px) {
            font-size: 16px;
            font-weight: 600;
            line-height: 16px;

            padding: 8px;
            margin: 0 !important;
          }

          &:nth-child(3) {
            @media (max-width: 767px) {
              grid-row-start: 2;
              grid-column-start: 1;
            }
          }

          &:nth-child(4) {
            @media (max-width: 767px) {
              grid-row-start: 2;
              grid-column-start: 2;
            }
          }

          &:nth-child(5) {
            @media (max-width: 767px) {
              grid-row-start: 2;
              grid-column-start: 3;
            }
          }

          & a {
            color: $White;
          }
        }
      }
    }

    .socials,
    .mobileSocials {
      display: flex;
      margin-bottom: 0;

      & a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;

        transition: $BGC-anim;

        &:hover {
          background-color: $Red-2L;
        }

        background-color: $Red-1;
        border-radius: 50%;

        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }

  .copy {
    margin-top: 8px;
  }
}

.logo {
  color: $White !important;
}

.socials {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.mobileSocials {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.logoBlock {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    margin-bottom: 48px;
  }
}

.copy,
.lowerText {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}
