@import "../../app/variables.module.scss";

.feedbacksContainer {
  padding: 80px;
}

.sliderCover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.sliderContainer {
  position: relative;
  overflow: hidden;
  width: 836px;

  margin-left: 16px;
}

.slider {
  display: flex;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.firstPosition {
  transform: translateX(0%);
}

.secondPosition {
  transform: translateX(-100%);
}

.thirdPosition {
  transform: translateX(-200%);
}

.forthPosition {
  transform: translateX(-300%);
}

.fifthPosition {
  transform: translateX(-400%);
}

.galItem {
  padding: 24px;
  width: 772px;
  background-color: $Black;
  flex-shrink: 0;
  margin-right: 16px;
  background-color: $White;

  & h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;

    margin-bottom: 16px;
  }

  & p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.leftBtn,
.rightBtn {
  background-color: $Background;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  transition: background-color 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    background-color: $Red-2L;
  }
}

.sliderNav {
  display: flex;
  width: 100%;
  justify-content: center;

  & li {
    &:not(:last-child) {
      margin-right: 8px;
    }

    & button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: none;
      background-color: $Gray;
      transition: background-color 0.7s cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;

      &.activeBtn {
        background-color: $Red-1;
      }
    }
  }
}
