@import "../../../app/variables.module.scss";

.nav {
  padding: 8px 16px;

  & ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;

    & li {
      padding: 8px 16px;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    & a {
      color: $Black;
      text-decoration: none;
      font-weight: 600;
      line-height: 16px;
    }
  }
}
