@import "../../../app/variables.module.scss";

.btnContainer {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.telContainer {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 29px;
  transform: translateX(350px);
  transition: $Transf-anim;
}

.telLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $Black;
  font-weight: 500;
  line-height: 16px;
  margin-right: 80px;

  &:hover {
    .svgContainer {
      background-color: $Red-2L;
    }
  }
}

.svgContainer {
  width: 32px;
  height: 32px;
  background-color: $Red-1;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition: $BGC-anim;
}

.showButtons {
  transform: translateX(-80px);
}
