@import "../../app/variables.module.scss";

.pricesSection {
  background-color: $White;

  .pricesContainer {
    padding: 80px;

    @media (max-width: 1279px) {
      padding: 80px 32px;
    }

    @media (max-width: 767px) {
      padding: 60px 32px;
    }
  }

  & h2 {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;

    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;

    @media (max-width: 767px) {
      font-size: 32px;
      font-weight: 700;
      line-height: 35.2px;
      margin-bottom: 24px;
    }
  }

  & ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      display: block;
    }

    & li {
      width: 384px;

      @media (max-width: 1439px) {
        min-width: 182px;
        width: calc((100% - 128px) / 3);
      }

      background-color: $Background;
      margin-bottom: 32px;
      padding: 16px;

      &:not(:nth-child(3)) {
        margin-right: 16px;

        @media (max-width: 767px) {
          margin: 0;
        }
      }

      &:last-child {
        margin-right: 0;

        @media (max-width: 767px) {
          margin: 0;
        }
      }

      @media (max-width: 767px) {
        width: calc(100% - 32px);
        margin: 0;

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }

      & div {
        width: 80px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 16px;
      }

      .type {
        color: $Black;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 16px;

        @media (max-width: 1279px) {
          font-size: 18px;
          line-height: 19.8px;
        }
      }

      .price {
        color: $Red-1;
        font-weight: 400;
        font-size: 18px;
        line-height: 25.2px;

        @media (max-width: 1279px) {
          font-size: 18px;
          line-height: 25.2px;
        }
      }
    }
  }
}
